img {
  width: 100%;
}

html {
  scroll-padding-top: 110px;
}

body{
  margin: 0;
  padding: 0;
}

header{
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1;

  display: flex;
  padding: 0.5em 1em 0.5em;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

header nav a{
  font-family: roboto;
  padding: 0.5em;
  text-decoration: none;
  color: black
}

header > a{
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-family: roboto;
  font-weight: 500;
  font-size: 2em;
  text-transform: lowercase;
  text-decoration: none;
  color: black;
  transform: scale(1,1.1);
  justify-content: center;
}

header button img{
  width: 1.5em;
}

header button{
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0.5em;
}

.detailpag main>div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: min(2vw, 1.5em);
}

.detailpag main>div:first-of-type ul {
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.detailpag main>div:first-of-type ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
  list-style: none;
}

.detailpag main>div:first-of-type nav {
  display: flex;
  gap: 1em;
}

.detailpag main>section>div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
  gap: 0.8em;
  justify-content: start;
}

.detailpag main>section>div button {
  padding: 0.75em 1.5em;
  border-radius: 0.75em;
  background: white;
  border: 1px solid lightgray;
  font-size: 0.8em;
  cursor: pointer;

  font-family: roboto;
}

.detailpag main>section>div button:not(:last-child):focus {
  border-color: black;
}

.detailpag main>section>div button:last-child {
  grid-column: 1 / -1;
  background: white;
  border: 1px solid lightgrey;
  margin-top: 0.5em;

  text-transform: uppercase;
  height: 4em;
}

main section h1 {
  font-family: roboto;
  font-weight: 350;
  text-transform: uppercase;
  font-size: 1.25em;

  padding-top: 0.8em;
}

main section p {
  font-family: roboto;
  font-size: 0.8em;
}

main section h2,
h3 {
  font-family: roboto;
  font-size: 1em;
  padding-top: 1em;
}

main section ul:first-of-type {
  padding-left: 1em;
}

main section ul:first-of-type li {
  font-family: roboto;
  font-size: 0.8em;
}

main section table {
  font-family: roboto;
}

main section table th {
  text-align: left;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 1em;

  font-size: 0.8em;
}

main section table td {
  text-align: left;
  padding-right: 1em;

  font-size: 0.8em;
}

main section:last-of-type h2 {
  font-weight: 350;
  text-transform: uppercase;
  font-size: 1.25em;

  padding-top: 2em;
}

main section p:first-of-type {
  padding-bottom: 1em;
}

.detailpag main section:last-of-type ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  padding: 0.5em;
}

.detailpag main section:last-of-type ul li {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: max-content 1fr;
}

.detailpag main section:last-of-type ul li a {
  display: contents;
  text-decoration: none;
  color: inherit;
}

.detailpag main section:last-of-type ul li h4 {
  margin: 0.5em 0 0 0;
  grid-column-start: 1;
  align-self: end;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}

.detailpag main section:last-of-type ul li p {
  margin: 0;
  grid-column-start: 1;
  align-self: start;
  font-size: 0.8em;
  padding-bottom: 1em;
}

.detailpag main section:last-of-type ul li img {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
}

.detailpag main section:last-of-type ul li button {
  width: 2em;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: end;
  justify-self: right;

  padding: 0;
  border: none;
  background: none;
  font-size: 1.5em;
  cursor: pointer;
}

hr {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  border-style: solid;
  color: lightgray
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.detailpag main {
  display: grid;
  grid-template-columns: 1fr;

  padding-left: 0.5em;
  padding-right: 0.5em;
}

footer ul li a {
  text-decoration: none;
  color: gray;
  font-size: 0.8em;
  font-family: roboto;
}

@media (width > 1100px) {
  .detailpag main>div:first-of-type {
    flex-direction: row;
  }

  .detailpag main>div:first-of-type ul {
    order: -1;
  }

  .detailpag main>div:first-of-type nav {
    flex-basis: min(14.4%, 8em);
    flex-shrink: 0;
    flex-direction: column;
  }
}

.detailpag main section:first-of-type{
    max-width: 35em;
}

@media (width > 760px) {

  .detailpag main>section>div {
    grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  }

  .detailpag main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .detailpag main section:first-of-type {
    padding-left: 5em;
  }


  .detailpag main section:last-of-type ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5em;
    padding: 0.5em;
  }

  .detailpag main section:last-of-type {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

@media (width > 760px){
  header button:last-of-type{
    display: none;
  }
  header button{
    order: 1;
  }
}

@media (width < 760px){
  header nav a{
    display: none;
}
}